/* login */
.container {
    margin: 0px auto;
    max-width: 780px;
    height: 100%;
}
.wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    cursor: pointer;
    height: 49px;
}
.snsLoginList {
    margin-top: 30px;
}
.snsLoginList li {
    margin: 10px 0;
}
