.commentWrap {
    display: flex;
    padding: 12px 0px;
}
.authorProfileImgWrap {
    margin-right: 12px;
}
.authorProfileImg {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.authorName {
    font-size: 13px;
    color: #030303;
    margin-bottom: 4px;
}
.textDisplay {
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    word-break: break-all;
    margin-bottom: 10px;
}

.likeCountWrap {
    font-size: 14px;
    color: #606060;
    display: flex;
    align-items: center;
    padding: 10px 0px;
}
.likeCountWrap i {
    margin: 0px 2.5px;
    cursor: pointer;
}
.reCommentCount,
.likeCount {
    margin: 0px 2.5px;
}
.reCommentBtn {
    display: flex;
    align-items: center;
    color: #065fd4;
    font-size: 14px;
    background-color: initial;
    border: none;
}
.reCommentBtn span {
    margin-right: 5px;
    cursor: pointer;
}
.reCommentBtn i {
    margin-right: 5px;
}

/* 번역하기 버튼 */
.translateBtn {
    /* display: none; */
    cursor: pointer;
    font-size: 13px;
    color: #606060;
}
