.detailWrap {
  max-width: 1300px;
  margin: auto;
  display: flex;
  height: 100%;
}
/* 비디오 정보 */
.videoInfo {
  width: 70%;
  height: 100%;
}
.video {
  height: 45%;
}

.playList {
  width: 30%;
}

/* 설명 부분 */
.descriptionWrap {
  display: flex;
}
