.detailWrap {
  max-width: 1300px;
  margin: auto;
  display: flex;
  height: 100%;
}

/* 비디오 정보 */
.videoInfo {
  width: 65%;
  padding: 5px;
}
.video {
  height: 45%;
  margin-bottom: 10px;
}
.tagsWrap {
  margin-bottom: 5px;
}
.tags {
  cursor: pointer;
  color: #065fd4;
}
.videoTitle {
  font-size: 18px;
  margin-bottom: 10px;
}
.channelTitle {
  color: #030303;
  font-weight: 700;
}
.date {
  color: #606060;
  margin-bottom: 10px;
}

/* 설명 부분 */
.descriptionWrap {
  display: flex;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 0px;
}
.channelThumbnails {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 13px;
}
.descriptionRight {
  font-size: 14px;
}
.descriptionLess {
  margin-top: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.descriptionMore {
  margin-top: 10px;
}
.moreAndLessBtn {
  cursor: pointer;
  font-size: 13px;
  color: #606060;
}
.subscribeBtnWrap {
  margin: 5px;
}
.subscribeBtn {
  cursor: pointer;
  width: 72px;
  height: 39px;
  background-color: #cc0000;
  border: none;
  color: #ffffff;
}

.playList {
  width: 35%;
  padding: 5px;
}
