/* Header CSS */
.wrap,
.headerLeft,
.headerCenter,
.headerRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap {
    z-index: 10;
    position: sticky;
    top: 0;
    width: calc(100% - 40px);
    height: 50px;
    background: white;
    padding: 5px 20px;
    border-bottom: #e5e5e5 1px solid;
}
.headerCenter {
    width: 40%;
}
.menuBtn {
    padding-top: 5px;
    cursor: pointer;
}
.logo {
    cursor: pointer;
}
.searchInput {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    border: none;
    padding: 8px 0px;
    border: 1px solid #e5e5e5;
    transition: border 300ms ease-out;
}
.searchInput:focus {
    outline: none;
    border: 1px solid #000000;
}
.searchBtn {
    border: none;
    border: 1px solid #e5e5e5;
    padding: 4.5px 15px;
    cursor: pointer;
}

/* 메뉴 버튼 클릭 시 왼쪽 사이드 메뉴 활성화 */
.menuAsideWrap {
    z-index: 9;
    transition: all ease 0.3s;
    position: absolute;
    top: 61px;
    left: 0;
    width: 100%;
    height: calc(100% - 61px);
    display: flex;
    opacity: 0;
    pointer-events: none;
}
.menuAside {
    padding: 10px 0px;
    width: 240px;
    background-color: white;
}
.menuAsideBackground {
    width: calc(100% - 240px);
    background-color: black;
    opacity: 0.7;
}
.menuItemWrap {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 0px;
    cursor: pointer;
}
.menuItemWrapBg {
    background: #e5e5e5;
}
.menuItemWrap:hover {
    background: #e5e5e5;
}
.menuItemImg {
    padding: 5px 20px;
}
