/* MainLayout CSS */
.main__container {
    position: relative;
    height: 100%;
    overflow: auto;
    background-color: #f9f9f9;
}
.main__section {
    /* height: calc(100% - 87px); */
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 780px) {
    .main__section {
        justify-content: center;
    }
}
