.wrap,
.headerLeft,
.headerCenter,
.headerRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap {
  z-index: 10;
  position: sticky;
  top: 0;
  height: 50px;
  background: white;
  padding: 5px 20px;
  border-bottom: #e5e5e5 1px solid;
}
.headerCenter {
  width: 40%;
}
.menu {
  padding-top: 5px;
}
.searchInput {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  border: none;
  padding: 8px 0px;
  border: 1px solid #e5e5e5;
  transition: border 300ms ease-out;
}
.searchInput:focus {
  outline: none;
  border: 1px solid #000000;
}
.searchBtn {
  border: none;
  border: 1px solid #e5e5e5;
  padding: 4.5px 15px;
}
